.ui-page {
	background: transparent;
}
.ui-content {
	background: transparent;
}
.ui-li-image-thumb {
	position: absolute;
	left: 2%;
	max-height: 80px;
	max-width: 80px;
}
.ui-li-image {
	display: inline-block;
	max-height: 250px;
}
.p-ui-title {
	min-height: 1.1em;
	text-align: center;
	font-size: 13px;
	display: block;
	margin: .6em 30% .8em;
	padding: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0!important
}
.restaurant_info_img {
	padding-top: 5%;
	text-align: center;
}
.restaurant_info_details {
	padding-top: 10px;
	font-size:12px;
}
.restaurant_info_map {
	padding-top: 10px;
}
.ui-li-map {
}
.restaurant_info_meals {
	
}
.p-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.p-welcome {
	padding-top:120px;
}

.p-home {
	padding-top:120px;
}

